<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>MediOCR - {{.title}}</title>
  <link href="http://fonts.googleapis.com/css?family=Merriweather:300,inherit|Merriweather+Sans:300,inherit,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body index clearfix">
  <img class="logo_highlight js-logo_highlight" src="images/mediocr_highlight(5).png">
  <img class="logo" src="images/mediocr_off.png">
  <div class="menubar clearfix">
    <a class="menu-element home{{ if eq .title "Home" }} selected{{end}}" href="/">home</a>
    <a href="try" class="menu-element try{{ if eq .title "Try" }} selected{{end}}">try</a>
    <a href="about" class="menu-element about{{ if eq .title "About" }} selected{{end}}">about</a>
  </div>
  <div class="contents">
    {{.contents}}
  </div>
  <footer class="_text">Copyright © Les OCR 2014 – All rights reserved.</footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js"></script>
  <script data-no-instant>InstantClick.init();</script>
  <script src="js/jquery-min.js" data-no-instant></script>
  <script src="js/index.js"></script>
</body>
</html>